## Deliverable 3. Create a Travel Itinerary Map.

In [28]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [29]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Samarai,PG,78.48,overcast clouds,-10.6167,150.6667,Nuli Sapi
1,6,Kapaa,US,82.38,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,7,Kavieng,PG,83.77,light rain,-2.5744,150.7967,Nusa Island Retreat
3,9,Boa Vista,BR,78.78,few clouds,2.8197,-60.6733,Aipana Plaza Hotel
4,21,Ormara,PK,81.73,clear sky,25.2088,64.6357,Crystal Beach and Camping Resort Ormara

In [30]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [31]:
# 11a. Add a marker layer for each city to the map. 
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [4]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities.
# Pick vacation country
japan_df = vacation_df.loc[(vacation_df.Country == "JP")]
japan_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
31,103,Kushima,JP,87.39,clear sky,31.4583,131.2333,Hanaoka
53,190,Fukue,JP,75.79,broken clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
90,329,Itoman,JP,86.38,few clouds,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
101,370,Hasaki,JP,77.40,light rain,35.7333,140.8333,Hotel Sunrise Choshi
102,372,Katsuura,JP,80.71,light rain,35.1333,140.3000,Katsuura Hotel Mikazuki
107,384,Nishihara,JP,85.66,few clouds,26.1842,127.7558,Minshuku Agaihama
138,471,Naze,JP,80.29,clear sky,28.3667,129.4833,ãªã¼ãã«ã¸ã¥ã»ã¢ã¬ã«ã¤
143,493,Shimoda,JP,78.91,heavy intensity rain,34.6667,138.9500,Shimoda Tokyu Hotel
146,500,Kushikino,JP,81.50,scattered clouds,31.7167,130.2667,Tajiri Inn
153,540,Ushibuka,JP,78.48,broken clouds,32.1906,130.0228,Hotei

In [5]:
jp_cities = japan_df.City.tolist()

In [32]:
# Choose which cities to go to
# Kushima, Kushikino, Ushibuka, Fukue

# Def function to see if inputted city is in the list
def is_jp(check_input):
    if check_input in jp_cities:
        return True
    return False

# Create vacation stop list
vacation_stops = [] 
maxLengthList = 4

print (f'Choose a total of four cities.')
print(jp_cities)

while len(vacation_stops) < 4:
    user_input = input('Choose a City: ')

    # Make sure input is in the list
    while not is_jp(user_input):
        print (f'Please try again, city is required as input')
        user_input = input('Pick your item from the list above: ')

    # Add the choice to list
    vacation_stops.append(user_input)

print(f'Your chosen vacation stops are as follows: {vacation_stops[0]}, {vacation_stops[1]}, {vacation_stops[2]}, {vacation_stops[3]}')

Choose a total of four cities.
['Kushima', 'Fukue', 'Itoman', 'Hasaki', 'Katsuura', 'Nishihara', 'Naze', 'Shimoda', 'Kushikino', 'Ushibuka']
Choose a City: Kushima
Choose a City: Kushikino
Choose a City: Ushibuka
Choose a City: Fukue
Your chosen vacation stops are as follows: Kushima, Kushikino, Ushibuka, Fukue

In [33]:
start_end = vacation_stops[0]        
stop1 = vacation_stops[1]
stop2 = vacation_stops[2]
stop3 = vacation_stops[3]

In [34]:
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df.City == start_end]
vacation_stop1 = vacation_df.loc[vacation_df.City == stop1]
vacation_stop2 = vacation_df.loc[vacation_df.City == stop2] 
vacation_stop3 = vacation_df.loc[vacation_df.City == stop3]

In [35]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start[["Lat","Lng"]].to_numpy()[0])
end = start
stop1 = tuple(vacation_stop1[["Lat","Lng"]].to_numpy()[0])
stop2 = tuple(vacation_stop2[["Lat","Lng"]].to_numpy()[0])
stop3 = tuple(vacation_stop3[["Lat","Lng"]].to_numpy()[0])

In [36]:
# Travel mode choice
# Def function to see if inputted city is in the list
def travel_check(check_input):
    if check_input in ["driving", "bicycling","walking"]:
        return True
    return False

user_input = input('Would you like to travel via driving, bicycling, or walking? ')

# Make sure input is in the list
while not travel_check(user_input):
    print (f'Please try again, choose a proper input is required as input')
    user_input = input('Would you like to travel via driving, bicycling, or walking? ')
    
# Otherwise, set user input as travel choice
travel_choice = user_input.upper()

Would you like to travel via driving, bicycling, or walking? driving

In [37]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets
fig = gmaps.figure()
trip_map = gmaps.directions_layer(start, end, waypoints =[stop1, stop2, stop3],
                                  travel_mode = travel_choice)
fig.add_layer(trip_map)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,103,Kushima,JP,87.39,clear sky,31.4583,131.2333,Hanaoka
1,500,Kushikino,JP,81.50,scattered clouds,31.7167,130.2667,Tajiri Inn
2,540,Ushibuka,JP,78.48,broken clouds,32.1906,130.0228,Hotei
3,190,Fukue,JP,75.79,broken clouds,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental

In [39]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [41]:
# 11a. Add a marker layer for each city to the map. 
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))